version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: mercadia_app
    restart: unless-stopped
    networks:
      - proxy

networks:
  proxy:
    external: true